<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back"
        defaultHref="/user-dashboard">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Alta Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="create__img">
      <img [src]="fotoUrl" width="120" height="120">
    </div>
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input type="text" name="nombres" id="nombres" [(ngModel)]="nombres"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input type="text" name="apellidos" id="apellidos" [(ngModel)]="apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" name="correo" id="correo" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">DNI</ion-label>
          <ion-input type="text" name="dni" id="dni" [(ngModel)]="dni"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Clave</ion-label>
          <ion-input type="password" name="clave" id="clave" [(ngModel)]="clave"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Clave</ion-label>
          <ion-input type="password" name="confirmarClave" id="confirmarClave" [(ngModel)]="confirmarClave"></ion-input>
        </ion-item>

        <ion-button color="dark" expand="full" (click)="scanDni()">Escanear DNI</ion-button>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="full" (click)="takePic()">Camara</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="full" (click)="takeFromGallery()">Galeria</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button color="warning" expand="full" (click)="createUser()">Crear Usuario</ion-button>
</ion-content>
