.userinfo {
  display: flex;
  border-bottom: 1px solid black;
}

.userinfo__img {
  width: 40%;
  height: 100px;
}

.userinfo__data {
  width: 60%;
  padding: 0 0 0 10px;
  font-size: 10px;
}

.userinfo__info {
  font-size: 13px;
}