<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"*ngIf="esAdmin">
      <ion-back-button
        icon="chevron-back"
        defaultHref="/admin-dashboard">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Listado De Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="usuarios">
    <div class="userinfo" *ngFor="let usuario of usuarios">
      <div class="userinfo__img">
        <img [src]="usuario.imgUrl" alt="">
      </div>
      <div class="userinfo__data">
        <h5 class="userinfo__info"><ion-icon name="list"></ion-icon> {{usuario.nombres}}</h5>
        <h5 class="userinfo__info"><ion-icon name="list"></ion-icon> {{usuario.apellidos}}</h5>
        <h5 class="userinfo__info"><ion-icon name="key"></ion-icon> {{usuario.dni}}</h5>
        <h5 class="userinfo__info"><ion-icon name="mail"></ion-icon> {{usuario.correo}}</h5>
      </div>
    </div>
  </ion-list>
</ion-content>
