<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"*ngIf="esAdmin">
      <ion-back-button
        icon="chevron-back"
        defaultHref="/admin-dashboard">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Listado De Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
